*.swp
*.pyc
ledgers/bitcoin/data.json
ledgers/bitcoin/output.csv
ledgers/bitcoin/parsed_data.json
ledgers/bitcoin/pool_addresses.json
ledgers/bitcoin/time_series.csv
ledgers/bitcoin/unmatched_tags
ledgers/bitcoin/pool_distribution_*.csv
ledgers/ethereum/data.json
ledgers/ethereum/output.csv
ledgers/ethereum/parsed_data.json
ledgers/ethereum/pool_addresses.json
ledgers/ethereum/time_series.csv
ledgers/ethereum/unmatched_tags
ledgers/ethereum/pool_distribution_*.csv
ledgers/bitcoin_cash/data.json
ledgers/bitcoin_cash/output.csv
ledgers/bitcoin_cash/parsed_data.json
ledgers/bitcoin_cash/pool_addresses.json
ledgers/bitcoin_cash/time_series.csv
ledgers/bitcoin_cash/unmatched_tags
ledgers/bitcoin_cash/pool_distribution_*.csv
ledgers/dogecoin/data.json
ledgers/dogecoin/output.csv
ledgers/dogecoin/parsed_data.json
ledgers/dogecoin/pool_addresses.json
ledgers/dogecoin/time_series.csv
ledgers/dogecoin/unmatched_tags
ledgers/dogecoin/pool_distribution_*.csv
ledgers/cardano/data.json
ledgers/cardano/output.csv
ledgers/cardano/parsed_data.json
ledgers/cardano/pool_addresses.json
ledgers/cardano/time_series.csv
ledgers/cardano/unmatched_tags
ledgers/cardano/pool_distribution_*.csv
ledgers/ethereum_classic/data.json
ledgers/ethereum_classic/output.csv
ledgers/ethereum_classic/parsed_data.json
ledgers/ethereum_classic/pool_addresses.json
ledgers/ethereum_classic/time_series.csv
ledgers/ethereum_classic/unmatched_tags
ledgers/ethereum_classic/pool_distribution_*.csv
ledgers/litecoin/data.json
ledgers/litecoin/output.csv
ledgers/litecoin/parsed_data.json
ledgers/litecoin/time_series.csv
ledgers/litecoin/unmatched_tags
ledgers/litecoin/pool_distribution_*.csv
ledgers/zcash/data.json
ledgers/zcash/output.csv
ledgers/zcash/parsed_data.json
ledgers/zcash/pool_addresses.json
ledgers/zcash/time_series.csv
ledgers/zcash/unmatched_tags
ledgers/zcash/pool_distribution_*.csv
ledgers/tezos/data.json
ledgers/tezos/output.csv
ledgers/tezos/parsed_data.json
ledgers/tezos/time_series.csv
ledgers/tezos/unmatched_tags
ledgers/tezos/pool_distribution_*.csv
