metrics:
  entropy:
    alpha: 1
  entropy_percentage:
    alpha: 1
  gini:
  hhi:
  nakamoto_coefficient:

default_ledgers:
  - bitcoin
  - bitcoin_cash
  - cardano
  - dogecoin
  - ethereum
  - litecoin
  - tezos
  - zcash